<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makeopinion.cpxresearchlib">

    <application>
        <activity android:name=".views.ExportLogActivity"></activity>
        <activity
            android:name=".views.CPXWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    </application>

</manifest>